@charset "ISO-8859-1";


.ui-sidebar{
	background-color: #84DD63 !important;
}
	
.menu{
	width: 100%; 
	height: 100vh;
	 background-color: #84DD63 !important;
	 border: none;
	 border-color: #84DD63 !important;
}

.ui-menu-list{
	background-color: #84DD63 !important;
}

.submenu{
	background-color: #84DD63 !important;
	border-color: #84DD63 !important;
}

.ui-menuitem-link:hover {
    border-radius: 5px !important;
}

